<main>
  <section>
    @for(name of names; track name){
      <view-child-7-component [childComponentName]="name"></view-child-7-component>
    }
    <span>total child: <strong>{{childComponentCount}}</strong></span>
  </section>
  <section>
    <input #newChildComponentInput type="text" placeholder="enter new child component name">
    <br>
    <button type="button" (click)="addChild(newChildComponentInput.value); newChildComponentInput.value=''">add Child</button>
    <button type="button" (click)="removeLastChild()">remove last child</button>
  </section>
</main>
